<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>CPI BREAKDOWN</TITLE>
	<STYLE TYPE="text/css">
	<!--
		@page { margin: 0.79in }
		P { margin-bottom: 0.08in }
		TD P { margin-bottom: 0in }
		TH P { margin-bottom: 0in }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" DIR="LTR">
<P ALIGN=LEFT STYLE="margin-bottom: 0in">Cycles Per Instruction (CPI) = <b>RUN_CYC_INST_CPI</b> </P>
<TABLE BORDER=1 CELLPADDING=4 CELLSPACING=0>
	<THEAD>
		<TR VALIGN=BOTTOM BGCOLOR="GRAY">
			<TH WIDTH=10%>
				<P ALIGN=LEFT><A NAME="d5140e281"></A><A NAME="d5140e283"></A>Cycles</P>
			</TH>
			<TH WIDTH=18%>
				<P ALIGN=LEFT><A NAME="d5140e285"></A>Breakdown 1</P>
			</TH>
			<TH WIDTH=18%>
				<P ALIGN=LEFT><A NAME="d5140e287"></A>Breakdown 2</P>
			</TH>
			<TH WIDTH=18%>
				<P ALIGN=LEFT><A NAME="d5140e289"></A>Breakdown 3</P>
			</TH>
			<TH WIDTH=18%>
				<P ALIGN=LEFT><A NAME="d5140e291"></A>Breakdown 4</P>
			</TH>
			<TH WIDTH=18%>
				<P ALIGN=LEFT>Breakdown 5</P>
			</TH>
		</TR>
	</THEAD>
	<TBODY>
		<TR VALIGN=TOP>
			<TD ROWSPAN=43>
				<P>RUN_CYC <BR> <B>RUN_CYC_CPI%</B></P>
			</TD>
			<TD ROWSPAN=25>
				<P>STALL <BR> <B>STALL_CPI%</B></P>
			</TD>
			<TD ROWSPAN=2>
				<P>STALL_BRU_CRU <BR> <B>STALL_BRU_CRU_CPI%</B></P>
			</TD>
			<TD COLSPAN=3>
				<P>STALL_BRU <BR> <B>STALL_BRU_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=3>
				<P>STALL_CRU <BR> <B>STALL_CRU_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD ROWSPAN=2>
				<P>STALL_FXU <BR> <B>STALL_FXU_CPI%</B></P>
			</TD>
			<TD COLSPAN=3>
				<P>STALL_FXLONG <BR> <B>STALL_FXLONG_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=3>
				<P>STALL_FXU_OTHER <BR> <B>STALL_FXU_OTHER_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD ROWSPAN=5>
				<P>VSU_STALL <BR> <B>VSU_STALL_CPI%</B></P>
			</TD>
			<TD ROWSPAN=2>
				<P>VSU_STALL_VECTOR <BR> <B>VSU_STALL_VECTOR_CPI%</B></P>
			</TD>
			<TD COLSPAN=2>
				<P>VSU_STALL_VECTOR_LONG <BR> <B>VSU_STALL_VECTOR_LONG_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=2>
				<P>VSU_STALL_VECTOR_OTHER <BR> <B>VSU_STALL_VECTOR_OTHER_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD ROWSPAN=2 WIDTH=15%>
				<P>VSU_STALL_SCALAR <BR> <B>VSU_STALL_SCALAR_CPI%</B></P>
			</TD>
			<TD COLSPAN=2>
				<P>VSU_STALL_SCALAR_LONG <BR> <B>VSU_STALL_SCALAR_LONG_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=2>
				<P>VSU_STALL_SCALAR_OTHER <BR> <B>VSU_STALL_SCALAR_OTHER_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=3>
				<P>VSU_STALL_OTHER <BR> <B>VSU_STALL_OTHER_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD ROWSPAN=14>
				<P>LSU_STALL <BR> <B>LSU_STALL_CPI%</B></P>
			</TD>
			<TD ROWSPAN=6>
				<P>LSU_STALL_DMISS <BR> <B>LSU_STALL_DMISS_CPI%</B></P>
			</TD>
			<TD ROWSPAN=2>
				<P>LSU_STALL_DMISS_L2L3 <BR> <B>LSU_STALL_DMISS_L2L3_CPI%</B></P>
			</TD>
			<TD>
				<P>LSU_STALL_DMISS_L2L3_CONFLICT <BR> <B>LSU_STALL_DMISS_L2L3_CONFLICT_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD>
				<P>LSU_STALL_DMISS_L2L3_NOCONFLICT <BR> <B>LSU_STALL_DMISS_L2L3_NOCONFLICT_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD ROWSPAN=4>
				<P>LSU_STALL_DMISS_L3MISS <BR> <B>LSU_STALL_DMISS_L3MISS_CPI%</B></P>
			</TD>
			<TD>
				<P>LSU_STALL_DMISS_LMEM <BR> <B>LSU_STALL_DMISS_LMEM_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD>
				<P>LSU_STALL_DMISS_L21L31 <BR> <B>LSU_STALL_DMISS_L21L31_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD>
				<P>LSU_STALL_DMISS_REMOTE <BR> <B>LSU_STALL_DMISS_REMOTE_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD>
				<P>LSU_STALL_DMISS_OTHER <BR> <B>LSU_STALL_DMISS_OTHER_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD ROWSPAN=4>
				<P>LSU_STALL_REJECT <BR> <B>LSU_STALL_REJECT_CPI%</B></P>
			</TD>
			<TD COLSPAN=2>
				<P>LSU_STALL_REJECT_LHS <BR> <B>LSU_STALL_REJECT_LHS_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=2>
				<P>LSU_STALL_ERAT_MISS <BR> <B>LSU_STALL_ERAT_MISS_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=2>
				<P>LSU_STALL_REJECT_LMQ_FULL <BR> <B>LSU_STALL_REJECT_LMQ_FULL_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=2>
				<P>LSU_STALL_REJECT_OTHER <BR> <B>LSU_STALL_REJECT_OTHER_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=3>
				<P>LSU_STALL_STORE <BR> <B>LSU_STALL_STORE_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=3>
				<P>LSU_STALL_LOAD_FINISH <BR> <B>LSU_STALL_LOAD_FINISH_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=3>
				<P>LSU_STALL_ST_FWD_CPI <BR> <B>LSU_STALL_ST_FWD_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=3>
				<P>LSU_STALL_OTHER <BR> <B>LSU_STALL_OTHER_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=4>
				<P>STALL_NTCG_FLUSH <BR> <B>STALL_NTCG_FLUSH_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=4>
				<P>STALL_OTHER <BR> <B>STALL_OTHER_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=5>
				<P>NTCG_ALL_FIN <BR> <B>NTCG_ALL_FIN_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD ROWSPAN=6>
				<P>STALL_THRD <BR> <B>STALL_THRD_CPI%</B></P>
			</TD>
			<TD COLSPAN=4>
				<P>STALL_LWSYNC <BR> <B>STALL_LWSYNC_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=4>
				<P>STALL_HWSYNC <BR> <B>STALL_HWSYNC_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=4>
				<P>STALL_MEM_ECC_DELAY <BR> <B>STALL_MEM_ECC_DELAY_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=4>
				<P>STALL_FLUSH <BR> <B>STALL_FLUSH_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=4>
				<P>STALL_COQ_FULL <BR> <B>STALL_COQ_FULL_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=4>
				<P>STALL_OTHER_THRD <BR> <B>STALL_OTHER_THRD_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD ROWSPAN=9>
				<P>GCT_EMPTY <BR> <B>GCT_EMPTY_CPI%</B></P>
			</TD>
			<TD ROWSPAN=2 WIDTH=15%>
				<P>GCT_EMPTY_IC_MISS <BR> <B>GCT_EMPTY_IC_MISS_CPI%</B></P>
			</TD>
			<TD COLSPAN=3>
				<P>GCT_EMPTY_IC_L3MISS <BR> <B>GCT_EMPTY_IC_L3MISS_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=3>
				<P>GCT_EMPTY_IC_L2L3 <BR> <B>GCT_EMPTY_IC_L2L3_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=4>
				<P>GCT_EMPTY_BR_MPRED <BR> <B>GCT_EMPTY_BR_MPRED_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=4>
				<P>GCT_EMPTY_BR_MPRED_ICMISS <BR> <B>GCT_EMPTY_BR_MPRED_ICMISS_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD ROWSPAN=4>
				<P>GCT_EMPTY_DISP_HELD <BR> <B>GCT_EMPTY_DISP_HELD_CPI%</B></P>
			</TD>
			<TD COLSPAN=3>
				<P>GCT_EMPTY_DISP_HELD_MAP <BR> <B>GCT_EMPTY_DISP_HELD_MAP_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=3>
				<P>GCT_EMPTY_DISP_HELD_SRQ <BR> <B>GCT_EMPTY_DISP_HELD_SRQ_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=3>
				<P>GCT_EMPTY_DISP_HELD_ISSQ <BR> <B>GCT_EMPTY_DISP_HELD_ISSQ_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=3>
				<P>GCT_EMPTY_DISP_HELD_OTHER <BR> <B>GCT_EMPTY_DISP_HELD_OTHER_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=4>
				<P>GCT_EMPTY_OTHER <BR> <B>GCT_EMPTY_OTHER_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=5>
				<P>GRP_CMPL <BR> <B>GRP_CMPL_CPI%</B></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=5>
				<P>OTHER <BR> <B>OTHER_CPI%</B></P>
			</TD>
		</TR>
	</TBODY>
</TABLE>
<P STYLE="margin-bottom: 0in"><BR>
</P>
</BODY>
</HTML>
